---
import clsx from 'clsx';
import { getCollection } from 'astro:content';
import { NAVIGATION_CONFIG } from '../config/navigation';
import type { NavigationSection } from '../types/navigation';

const { pathname } = Astro.url;

const works = await getCollection('works');
works.sort((a, b) => a.data.priority - b.data.priority);

const worksLinks = works.map((work) => ({
  href: `/works/${work.slug}`,
  title: work.data.title,
}));

const navigation: NavigationSection[] = NAVIGATION_CONFIG.map((section) =>
  section.title === 'Artwork' ? { ...section, links: worksLinks } : section
);
---

<nav
  class="text-base lg:text-sm mt-6 space-y-9"
  transition:persist="navigation"
  data-current-path={pathname}
>
  <ul role="list">
    {
      navigation.map((section) => (
        <li class="mb-4">
          <h2 class="lg:text-lg font-display font-medium text-neutral-900 mt-2">
            <a
              href={section.href}
              class={clsx(
                'block w-full underline-offset-4 transition-all duration-200'
              )}
              data-astro-prefetch
            >
              {section.title}
            </a>
          </h2>
          <ul
            role="list"
            class={clsx(
              'mt-2 space-y-2 border-l-2 border-slate-100 lg:mt-4 lg:space-y-4 lg:border-slate-200',
              section.title === 'Artwork' && ['artwork-submenu', 'hidden']
            )}
          >
            {section.links.map((link) => (
              <li class="relative">
                <a
                  href={link.href}
                  class={clsx(
                    'block w-full pl-3.5 text-sm before:pointer-events-none before:absolute before:-left-1 before:top-1/2 before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full',
                    'text-neutral-600 before:hidden before:bg-slate-300 hover:text-neutral-900 hover:before:block'
                  )}
                  data-astro-prefetch
                >
                  {link.title}
                </a>
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import { updateNavigation } from '../scripts/navigation';

  document.addEventListener('astro:page-load', updateNavigation);
  document.addEventListener('astro:after-swap', updateNavigation);
</script>
